In [6]:
names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

xindict={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}

import pandas as pd

students=pd.DataFrame.from_dict(xindict)
students

     names  woman  ages  country education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [34]:
#Create a list of tuples, where each tuple is a pair (name,country), using comprehensions

list(zip(names,country))

[('Tom치s', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

In [39]:
#Implement a for loop to count how many peruvian there are in the data frame. Try using not in one solution and ~ in another one

counterofPeruvians=0

for value in students.country:
    if value=='Peru':
        counterofPeruvians +=1
        
counterofPeruvians

2

In [54]:
#Implement a for loop to get the count of men. Try using not in one solution and ~ in another one.

countofmen=0

for value in students.woman:
    if not value:
        countofmen +=1
        
countofmen

4